<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About Page</title>
</head>
<body>
    <h1>Get to know Dražen and why he deserves a memorial</h1>
    <div class="container-center">
        <p>Dražen Petrović was one of the greatest basketball players of all time.</p>
        <p>Yet, he is unknown even to most fans of this sport.</p>
        <p>Born in Yugoslavia (present-day Croatia), he soon became a star in the european basketball scene.</p>
        <p>Naturally, he transfered to the NBA, the strongest league in the world.</p>
        <p>Struggling at first, Dražen then managed to compete even against Michael Jordan.</p>
        <p>Being only 28 years old, he died in a tragic car accident in Germany.</p>
    </div>
    <h2>Check out this video and see Dražen in action</h2>
    <div class="container-center"> 
    <iframe width="1013" height="570" src="https://www.youtube.com/embed/0ANvDMKS56A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="two-buttons">
        <div class="link-button">
            <a href="career">Career highlights</a>
        </div>
        <div class="link-button">
            <a href="/">home</a>
        </div>
    </div>
</body>
</html>

