<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Career Page</title>
</head>

<body>
    <h1>Highlights of a short but remarkable career</h1>
    <div class="container-center">
        <h3>The following list contains only a subjective selection. To see all of Dražen's countless achievements go
            <a href= "https://en.wikipedia.org/wiki/Dra%C5%BEen_Petrovi%C4%87#Accomplishments_and_awards" target="_blank">here</a></h3>
        <ul>
            <li>Scored 112 points in a single game (1985 with Cibona Zagreb vs. Union Olimpija Ljubljana) </li>
            <li>The New Jersey Nets, Dražen's last NBA team, retired his player number (3)</li>
            <li>All NBA Third Team (1993)</li>
            <li>FIBA's 50 Greatest Players (1991)</li>
            <li>2x EuroLeague champion (1985 & 1986)</li>
            <li>Euro League Finals Top Scorer (1985)</li>
            <li>FIBA World Championship MVP (1986)</li>
            <li>Spanish Cup winner (1989)</li>
            <li>Yugoslav League champion (1985)</li>
            <li>3x Yugoslav Cup winner (1985, 1986, 1988)</li>
        </ul>
    </div>
    <div class="two-buttons">
        <div class="link-button">
            <a href="about">about Dražen</a>
        </div>
        <div class="link-button">
            <a href="/">home</a>
        </div>
    </div>
</body>

</html>